<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>$(RPPL_ICLOUD_CONTAINER)</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>$(RPPL_ICLOUD_FOLDER_NAME)</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>Any</string>
		</dict>
	</dict>
	<key>RpplAppGroupID</key>
	<string>$(RPPL_APP_GROUP_ID)</string>
	<key>RpplBuildDate</key>
	<string>2026-08-23</string>
	<key>RpplGitCommit</key>
	<string></string>
	<key>RpplICloudContainerID</key>
	<string>$(RPPL_ICLOUD_CONTAINER)</string>
	<key>RpplReleaseTag</key>
	<string></string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
